<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Hacking Company - Login</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #111;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
        }

        h3 {
            margin: 0 0 20px;
        }

        input[type="email"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
            border: none;
            background-color: #222;
            color: #fff;
            border-radius: 5px;
        }

        input[type="email"]::placeholder,
        input[type="password"]::placeholder {
            color: #999;
        }

        p.error {
            color: #ff3838;
            margin: 0 0 20px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            border: none;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <h3>Welcome to the  Network and
            <br>
            Information Secutiry
        </h3>
        <input type="email" name="Email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password">
        <% if(error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <button type="submit">Sign In</button>
    </form>
    <a href="/forgot-password">Forgot Password</a>
</body>
</html>
